<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header class="site-header">
      <% include ../partials/header %>
    </header>
      <main class="container">
        <div class="dashboard">
          <div class="dashboard__sidebar">
            <nav class="dashboard__nav">
              <a
                class="dashboard-nav__link <%= locals.dashboard_page === 'watchlist'? 'active' : null %>"
                href="/dashboard/watchlist">Watchlist</a>
              <a
                class="dashboard-nav__link <%= locals.dashboard_page === 'favourite'? 'active' : null %>"
                href="/dashboard/favourite">Favourites</a>
            </nav>
          </div>
          <div class="dashboard__content">

            <% if (dashboard_page === "watchlist") { %>

              <section class="">
                <h2 class="section__title">Movies</h2>
                <div class="u-clearfix">
                <% movies.forEach(function(movie) { %>
                  <%- include('../partials/media-thumbnail', {
                    media: movie,
                    mediaType: "movie"
                  }) %>
                <% }) %>
                </div>
              </section>

              <section class="">
                <h2 class="section__title">TV Shows</h2>
                <div class="u-clearfix">
                <% tv_shows.forEach(function(tv_show) { %>
                  <%- include('../partials/media-thumbnail', {
                    media: tv_show,
                    mediaType: "tv"
                  }) %>
                <% }) %>
                </div>
              </section>

            <% } else if (dashboard_page === "favourites") { %>

              <section class="">
              <h2 class="section__title">Movies</h2>
                <div class="u-clearfix">
                <% movies.forEach(function(movie) { %>
                  <%- include('../partials/media-thumbnail', {
                    media: movie,
                    mediaType: "movie"
                  }) %>
                <% }) %>
                </div>
              </section>

              <section class="">
              <h2 class="section__title">TV Shows</h2>
                <div class="u-clearfix">
                <% tv_shows.forEach(function(tv_show) { %>
                  <%- include('../partials/media-thumbnail', {
                    media: tv_show,
                    mediaType: "tv"
                  }) %>
                <% }) %>
                </div>
              </section>

            <% } %>

          </div>
        </div>
      </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
