<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <style media="screen">
  </style>
  <header class="site-header">
    <% include ../partials/header %>

    <!-- MEDIA HEADER -->
    <div
    class="media-header"
    style="background-image:url('https://image.tmdb.org/t/p/original<%= media.backdrop_path %>')">
      <div class="media-info">
        <div class="container">
          <div class="grid">
            <div class="grid__col grid__col--1-of-2">
              <h1 class="media-title"><%= media.title || media.name %></h1>
              <div class="media-thumbnail__rating">
          			<% var rating = (Math.round((media.vote_average / 2) * 2) / 2).toFixed(1) %>
          			<% for(var i = 0; i< Math.floor(rating); i++){ %>
          				<i class="fa fa-star media-thumbnail__star" aria-hidden="true"></i>
          				<% if(i == Math.floor(rating)-1 && rating % 1 > 0){ %>
          					<i class="fa fa-star-half-o media-thumbnail__star" aria-hidden="true"></i>
          				<% } %>
          			<% } %>
          			<% for(var j = 0; j < 5 - Math.ceil(rating); j++){ %>
          				<i class="fa fa-star-o media-thumbnail__star" aria-hidden="true"></i>
          			<% } %>
          		</div>
              <% if(isLoggedIn) { %>

                <% if(media.isFavourite) { %>
                  <a
                    href="<%= '/favourite/delete?media_type=' + mediaType + '&media_id=' + media.id %>"
        					  class="media-thumbnail__link isFavourite"
                    title="Remove from favourites"
        					>
        						<i class="icon fa fa-heart-o" aria-hidden="true"></i>
        					</a>

                <% } else { %>

                  <a
                    href="<%= '/favourite/add?media_type=' + mediaType + '&media_id=' + media.id %>"
        					  class="media-thumbnail__link "
                    title="Add to favourites"
        					>
        						<i class="icon fa fa-heart-o" aria-hidden="true"></i>
        					</a>
                </a>
                <% } %>

                <% if(media.isInWatchList) { %>


                  <a
                    href="<%= '/watchlist/delete?media_type=' + mediaType + '&media_id=' + media.id %>"
        					  class="media-thumbnail__link isInWatchList"
                    title="Remove from watchlist"
        					>
        						<i class="icon fa fa-plus" aria-hidden="true"></i>
        					</a>

                <% } else { %>

                  <a
                    href="<%= '/watchlist/add?media_type=' + mediaType + '&media_id=' + media.id %>"
        					  class="media-thumbnail__link"
                    title="Add to watchlist"
        					>
        						<i class="icon fa fa-plus" aria-hidden="true"></i>
        					</a>
                </a>
                <% } %>

                <a href="#" class="media-thumbnail__link">
                <i class="icon fa fa-share-alt" aria-hidden="true"></i>
                </a>

              <% } else { %>


                <a href="/login" class="media-thumbnail__link" title="Login to add to favourites">
                <i class="icon fa fa-heart-o" aria-hidden="true"></i>
                </a>
                <a href="/login" class="media-thumbnail__link" title="Login to add to wathclist">
                <i class="icon fa fa-plus" aria-hidden="true"></i>
                </a>
                <a href="#" class="media-thumbnail__link">
                <i class="icon fa fa-share-alt" aria-hidden="true"></i>
                </a>

              <% } %>


            </div>
            <div class="grid__col grid__col--1-of-2">
              <h2>Overview</h2>
              <p>
                <%= media.overview %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="container">

      <!-- CAST SECTION  -->
      <section class="section">
        <h2 class="section__title">Featrued Cast</h2>
        <% for (var i = 0; i < 5; i++) { %>

          <% if (cast[i]) { %>

            <!-- inlude cast-member template here -->
            <%- include('../partials/cast-member', {
              cast_member: cast[i]
            })%>

          <% } %>

        <% } %>
      </section>

      <!-- SIMILAR MEDIA SECTION  -->
      <section class="section">
        <h2 class="section__title">Similar <%= mediaType === 'movie' ? 'Movies' : 'TV Shows' %></h2>
        <div class="u-clearfix">


          <% for(var i = 0; i < 5; i++){ %>

            <% if (relatedMedia[i]) { %>

              <%- include('../partials/media-thumbnail.ejs', {
                media: relatedMedia[i]
              })%>

            <% }%>

          <% } %>
        </div>
      </section>

    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
